
{{template "header" .}}
<div class="px-4">
    <h1 class="py-4 text-4xl semibold tracking-tight ">FContact Page</h1>
    <p class="text-gray-800">
        <b>How do i contact support?</b>
        Email us -> <a class="underline" href="mailto:greyrat999@mail.ru">greyrat999@mail.ru</a>
    </p>
</div>
{{template "footer" .}}